In [1]:
import pandas as pd

In [3]:
!unzip /content/archive.zip

Archive:  /content/archive.zip
  inflating: training.1600000.processed.noemoticon.csv

In [6]:
df = pd.read_csv('/content/tweets.csv', encoding='latin1')

In [11]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [10]:
df.shape

(1599999, 6)

In [12]:
column = ['target','id','date','flag','user','text']
df = pd.read_csv('/content/tweets.csv', encoding='latin1', names=column)

In [13]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [14]:
df.shape

(1600000, 6)

In [15]:
df['text'][0]

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [19]:
df_text_lower = df['text'].str.lower()

In [20]:
df_text_lower

0          @switchfoot http://twitpic.com/2y1zl - awww, t...
1          is upset that he can't update his facebook by ...
2          @kenichan i dived many times for the ball. man...
3            my whole body feels itchy and like its on fire
4          @nationwideclass no, it's not behaving at all....
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999    happy #charitytuesday @thenspcc @sparkscharity...
Name: text, Length: 1600000, dtype: object

In [24]:
import re

df_text_lower_no_urls = df_text_lower.apply(lambda x: re.sub(r'https?://\S+|www\.\S+', '', x))
df_text_lower_no_urls

0          @switchfoot  - awww, that's a bummer.  you sho...
1          is upset that he can't update his facebook by ...
2          @kenichan i dived many times for the ball. man...
3            my whole body feels itchy and like its on fire
4          @nationwideclass no, it's not behaving at all....
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999    happy #charitytuesday @thenspcc @sparkscharity...
Name: text, Length: 1600000, dtype: object

In [25]:
df_text_lower_no_urls[0]

"@switchfoot  - awww, that's a bummer.  you shoulda got david carr of third day to do it. ;d"

In [28]:
df_text_lower_no_mentions = df_text_lower_no_urls.apply(lambda x: re.sub(r'@\w+', '', x))
df_text_lower_no_mentions

0            - awww, that's a bummer.  you shoulda got da...
1          is upset that he can't update his facebook by ...
2           i dived many times for the ball. managed to s...
3            my whole body feels itchy and like its on fire
4           no, it's not behaving at all. i'm mad. why am...
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999                            happy #charitytuesday
Name: text, Length: 1600000, dtype: object

In [29]:
df_text_lower_no_mentions[0]

"  - awww, that's a bummer.  you shoulda got david carr of third day to do it. ;d"

In [31]:
df_text_lower_no_hashtags = df_text_lower_no_mentions.apply(lambda x: re.sub(r'#\w+', '', x))
df_text_lower_no_hashtags

0            - awww, that's a bummer.  you shoulda got da...
1          is upset that he can't update his facebook by ...
2           i dived many times for the ball. managed to s...
3            my whole body feels itchy and like its on fire
4           no, it's not behaving at all. i'm mad. why am...
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999                                           happy
Name: text, Length: 1600000, dtype: object

In [32]:
df_text_lower_no_hashtags[0]

"  - awww, that's a bummer.  you shoulda got david carr of third day to do it. ;d"

In [33]:
df_text_lower_no_html = df_text_lower_no_hashtags.apply(lambda x: re.sub(r'<.*?>', '', x))
df_text_lower_no_html

0            - awww, that's a bummer.  you shoulda got da...
1          is upset that he can't update his facebook by ...
2           i dived many times for the ball. managed to s...
3            my whole body feels itchy and like its on fire
4           no, it's not behaving at all. i'm mad. why am...
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999                                           happy
Name: text, Length: 1600000, dtype: object

In [34]:
df_text_lower_no_html[0]

"  - awww, that's a bummer.  you shoulda got david carr of third day to do it. ;d"

In [35]:
df_text_no_punctuation = df_text_lower_no_html.apply(lambda x: re.sub(r'[^\w\s]', '', x))
df_text_no_punctuation

0             awww thats a bummer  you shoulda got david ...
1          is upset that he cant update his facebook by t...
2           i dived many times for the ball managed to sa...
3            my whole body feels itchy and like its on fire
4           no its not behaving at all im mad why am i he...
                                 ...
1599995    just woke up having no school is the best feel...
1599996    thewdbcom  very cool to hear old walt intervie...
1599997    are you ready for your mojo makeover ask me fo...
1599998    happy 38th birthday to my boo of alll time tup...
1599999                                           happy
Name: text, Length: 1600000, dtype: object

In [38]:
df_text_no_punctuation[0]

'   awww thats a bummer  you shoulda got david carr of third day to do it d'

In [39]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
# !pip install emoji

Collecting emoji
  Downloading emoji-2.14.1-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.14.1-py3-none-any.whl (590 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 590.6/590.6 kB 24.1 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.14.1

In [41]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

In [42]:
df_text_no_emoji = df_text_no_punctuation.apply(remove_emoji)
df_text_no_emoji

0             awww thats a bummer  you shoulda got david ...
1          is upset that he cant update his facebook by t...
2           i dived many times for the ball managed to sa...
3            my whole body feels itchy and like its on fire
4           no its not behaving at all im mad why am i he...
                                 ...
1599995    just woke up having no school is the best feel...
1599996    thewdbcom  very cool to hear old walt intervie...
1599997    are you ready for your mojo makeover ask me fo...
1599998    happy 38th birthday to my boo of alll time tup...
1599999                                           happy
Name: text, Length: 1600000, dtype: object

In [43]:
df_text_no_emoji[0]

'   awww thats a bummer  you shoulda got david carr of third day to do it d'